extends ../layout

block content
    .row
        .col-12
            .card-page
                .card-header
                    .actions.align-content-center
                        .left
                            a.btn.btn-primary.btn-icon(href='/user_app/registry/customers/1/edit')
                                i.fas.fa-edit
                                span Modifica cliente
                            a.btn.btn-secondary.btn-icon(href='/user_app/registry/customers/2')
                                i.fas.fa-paper-plane
                                span Manda invito
                        .right
                            a.btn.btn-danger.btn-icon(href='#')
                                i.fas.fa-trash
                                span Elimina cliente
                .card-body
                    .row
                        .col-lg-6
                            dl
                                dt Nome
                                dd Cliente 1
                                dt Cognome
                                dd Di prova con un cognome lungo
                                dt E-mail
                                dd admin@foo.it
                                dt Telefono
                                dd 123456789
                        .col-lg-6
                            dl
                                dt Stato account
                                dd
                                    | Non invitato


            .card-page
                .card-header
                    .actions
                        .left
                            a(href='#').btn.btn-primary.btn-icon
                                i.fas.fa-edit
                                span="Action 1"
                            a(href='#').btn.btn-secondary.btn-icon
                                i.fas.fa-edit
                                span="Action 1"
                        .center
                            a(href='#').btn.btn-warning.btn-icon
                                i.fas.fa-lock
                                span="Action 1"
                        .right
                            a(href='#').btn.btn-error.btn-icon
                                i.fas.fa-trash
                                span="Action 1"
                .card-body
                .card-footer
                    p Elementi visualizzati: <b>2</b>

            .card-table
                .card-header
                    a(href='#').btn.btn-primary.btn-icon
                        i.fas.fa-edit
                        span="Action 1"
                    a(href='#').btn.btn-warning.btn-icon
                        i.fas.fa-lock
                        span="Action 1"
                    a(href='#').btn.btn-error.btn-icon
                        i.fas.fa-trash
                        span="Action 1"
                .card-body
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') First
                                    th(scope='col') Last
                                    th(scope='col') Handle
                                    th(scope='col') Handle
                                    th(scope='col') Handle
                            tbody
                                tr
                                    th.actions(scope='row')
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                        button.btn.btn-secondary
                                            i.fas.fa-edit
                                    td
                                        p Ciao
                                        p Ciao
                                    td Otto
                                    td @mdo
                                    td @mdo
                                    td
                                        span.badge.badge-success Attivo
                                tr.table-active
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                    td @fat
                                    td
                                        span.badge.badge-label.badge-success Attivo
                                tr.table-success
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                    td @fat
                                    td @fat
                                tr.table-danger
                                    th(scope='row') 3
                                    td Larry
                                    td the Bird
                                    td @twitter
                                    td @twitter
                                    td @twitter



                .card-footer
                    p Elementi visualizzati: <b>2</b>

            .card-table
                .card-body
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') First
                                    th(scope='col') Last
                                    th(scope='col') Handle
                                    th(scope='col') Handle
                                    th(scope='col') Handle
                            tbody
                                tr.table-success
                                    th.actions(scope='row')
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                        button.btn.btn-secondary
                                            i.fas.fa-edit
                                    td Mark
                                    td Otto
                                    td @mdo
                                    td @mdo
                                    td @mdo
                                tr.table-active
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                    td @fat
                                    td @fat
                                tr
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                    td @fat
                                    td @fat
                                tr.table-danger
                                    th(scope='row') 3
                                    td Larry
                                    td the Bird
                                    td @twitter
                                    td @twitter
                                    td @twitter



                .card-footer
                    p Elementi visualizzati: <b>2</b>

            .card-table
                .card-header
                    a(href='#').btn.btn-primary.btn-icon
                        i.fas.fa-edit
                        span="Action 1"
                    a(href='#').btn.btn-warning.btn-icon
                        i.fas.fa-lock
                        span="Action 1"
                    a(href='#').btn.btn-error.btn-icon
                        i.fas.fa-trash
                        span="Action 1"
                .card-body
                    .table-responsive
                        table.table.table-sm
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') First
                                    th(scope='col') Last
                                    th(scope='col') Handle
                                    th.price(scope='col') Prezzo
                            tbody
                                tr.table-success
                                    th.actions(scope='row')
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                    td Mark
                                    td Otto
                                    td @mdo
                                    td.price € 30,00
                                tr
                                    th.actions(scope='row')
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                    td Jacob
                                    td Thornton
                                    td @fat
                                    td.price € 30,00
                                tr
                                    th(scope='row') 3
                                    td Larry
                                    td the Bird
                                    td @twitter
                                    td.price € 30,00

                    .table-responsive.mt-3
                        table.table.table-sm
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') First
                                    th(scope='col') Last
                                    th(scope='col') Handle
                                    th.price(scope='col') Prezzo
                            tbody
                                tr.table-success
                                    th.actions(scope='row')
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                    td Mark
                                    td Otto
                                    td @mdo
                                    td.price € 30,00
                                tr
                                    th.actions(scope='row')
                                        button.btn.btn-primary
                                            i.fas.fa-edit
                                    td Jacob
                                    td Thornton
                                    td @fat
                                    td.price € 30,00
                                tr
                                    th(scope='row') 3
                                    td Larry
                                    td the Bird
                                    td @twitter
                                    td.price € 30,00



                .card-footer
                    p Elementi visualizzati: <b>2</b>

            .card-table
                .card-header
                    h5 Istanze servizi
                .card-body
                    .table-responsive
                        table.table.table-sm
                            thead
                                tr
                                    th Nome istanza
                                    th dominio
                                    th commerciale
                                    th indirizzo tenant
                                    th link ai settings
                            tbody
                                tr.divider
                                    td(colspan='5')
                                        a(href='/user_app/registry/customers/1')
                                            i.fas.fa-plus
                                            |  Aggiungi istanza servizio
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr.divider
                                    td(colspan='5')
                                        a(href='/user_app/registry/customers/1')
                                            i.fas.fa-plus
                                            |  Aggiungi istanza servizio
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr.divider
                                    td(colspan='5')
                                        a(href='/user_app/registry/customers/1')
                                            i.fas.fa-plus
                                            |  Aggiungi istanza servizio
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
                                tr.divider
                                    td(colspan='5')
                                        a(href='/user_app/registry/customers/1')
                                            i.fas.fa-plus
                                            |  Aggiungi istanza servizio
                                tr
                                    th
                                        a.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                            |               Nome istanza
                                    td
                                        | www.eco-in.it
                                    td
                                        | Giovanni Pilati
                                    td
                                        a(target='_blank' href='https://ecoin.website.pandevstudio.it/') Vai al link
                                    td
                                        a(target='_blank' href='https://www.website.pandevstudio.it/settings_managers/sign_in') Vai al link
            .card-table
                .card-header
                    .actions.align-content-center
                        .left
                            h5 Dati di fatturazione ciao ciao ciao ciao
                        .right.text-nowrap
                            a.btn.btn-secondary.btn-icon(href='#')
                                i.fas.fa-plus
                                span Aggiungi dati fatturazione
                            a.btn.btn-secondary.btn-icon(href='#')
                                i.fas.fa-plus
                                span Aggiungi dati fatturazione
                            a.btn.btn-secondary.btn-icon(href='#')
                                i.fas.fa-plus
                                span Aggiungi dati fatturazione
                .card-body
                    .table-responsive
                        table.table.table-sm
                            thead
                                tr
                                    th
                                    th r.soc. / nome e cognome
                                    th.fit codice fiscale
                                    th.fit partita IVA
                            tbody
                                tr
                                    th.actions
                                        a.btn.btn-primary.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                    td
                                        | Pandev.Studio di Alessio Bussolari e Umberto Peserico
                                    td
                                        | HDTEIS76C74J835B
                                    td
                                        | IT25987489621
                                tr
                                    th.actions
                                        a.btn.btn-primary.row-link(href='/user_app/registry/customers/1')
                                            i.fas.fa-search
                                    td
                                        | Pandev.Studio di Alessio Bussolari e Umberto Peserico
                                    td
                                        | HDTEIS76C74J835B
                                    td
                                        | IT25987489621

