extends ../layout

block content
    .row
        .col-12
            .card-page
                .card-header
                    .actions
                        .left
                            a(href='#').btn.btn-primary.btn-icon
                                i.fas.fa-edit
                                span="Action 1"
                            a(href='#').btn.btn-secondary.btn-icon
                                i.fas.fa-edit
                                span="Action 1"
                        .center
                            a(href='#').btn.btn-warning.btn-icon
                                i.fas.fa-lock
                                span="Action 1"
                        .right
                            a(href='#').btn.btn-error.btn-icon
                                i.fas.fa-trash
                                span="Action 1"
                .card-body
                .card-footer
                    p Elementi visualizzati: <b>2</b>

            .card-table
                .card-header
                    a(href='#').btn.btn-primary.btn-icon
                        i.fas.fa-edit
                        span="Action 1"
                    a(href='#').btn.btn-warning.btn-icon
                        i.fas.fa-lock
                        span="Action 1"
                    a(href='#').btn.btn-error.btn-icon
                        i.fas.fa-trash
                        span="Action 1"
                .card-body
                    table.table
                        thead
                            tr
                                th(scope='col') #
                                th(scope='col') First
                                th(scope='col') Last
                                th(scope='col') Handle
                                th(scope='col') Handle
                                th(scope='col') Handle
                        tbody
                            tr.table-success
                                th.actions(scope='row')
                                    button.btn.btn-primary
                                        i.fas.fa-edit
                                    button.btn.btn-secondary
                                        i.fas.fa-edit
                                td Mark
                                td Otto
                                td @mdo
                                td @mdo
                                td @mdo
                            tr.table-active
                                th(scope='row') 2
                                td Jacob
                                td Thornton
                                td @fat
                                td @fat
                                td @fat
                            tr
                                th(scope='row') 2
                                td Jacob
                                td Thornton
                                td @fat
                                td @fat
                                td @fat
                            tr.table-danger
                                th(scope='row') 3
                                td Larry
                                td the Bird
                                td @twitter
                                td @twitter
                                td @twitter



                .card-footer
                    p Elementi visualizzati: <b>2</b>

            .card-table
                .card-body
                    table.table
                        thead
                            tr
                                th(scope='col') #
                                th(scope='col') First
                                th(scope='col') Last
                                th(scope='col') Handle
                                th(scope='col') Handle
                                th(scope='col') Handle
                        tbody
                            tr.table-success
                                th.actions(scope='row')
                                    button.btn.btn-primary
                                        i.fas.fa-edit
                                    button.btn.btn-secondary
                                        i.fas.fa-edit
                                td Mark
                                td Otto
                                td @mdo
                                td @mdo
                                td @mdo
                            tr.table-active
                                th(scope='row') 2
                                td Jacob
                                td Thornton
                                td @fat
                                td @fat
                                td @fat
                            tr
                                th(scope='row') 2
                                td Jacob
                                td Thornton
                                td @fat
                                td @fat
                                td @fat
                            tr.table-danger
                                th(scope='row') 3
                                td Larry
                                td the Bird
                                td @twitter
                                td @twitter
                                td @twitter



                .card-footer
                    p Elementi visualizzati: <b>2</b>

            .card-table
                .card-header
                    a(href='#').btn.btn-primary.btn-icon
                        i.fas.fa-edit
                        span="Action 1"
                    a(href='#').btn.btn-warning.btn-icon
                        i.fas.fa-lock
                        span="Action 1"
                    a(href='#').btn.btn-error.btn-icon
                        i.fas.fa-trash
                        span="Action 1"
                .card-body
                    table.table.table-sm
                        thead
                            tr
                                th(scope='col') #
                                th(scope='col') First
                                th(scope='col') Last
                                th(scope='col') Handle
                                th(scope='col') Handle
                                th(scope='col') Handle
                        tbody
                            tr.table-success
                                th.actions(scope='row')
                                    button.btn.btn-primary
                                        i.fas.fa-edit
                                    button.btn.btn-primary
                                        i.fas.fa-edit
                                td Mark
                                td Otto
                                td @mdo
                                td @mdo
                                td @mdo
                            tr
                                th.actions(scope='row')
                                    button.btn.btn-primary
                                        i.fas.fa-edit
                                td Jacob
                                td Thornton
                                td @fat
                                td @fat
                                td @fat
                            tr
                                th(scope='row') 3
                                td Larry
                                td the Bird
                                td @twitter
                                td @twitter
                                td @twitter



                .card-footer
                    p Elementi visualizzati: <b>2</b>
